name: release

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Publish
      run: dotnet publish --configuration Release -p:Version=2.0.5.0 --no-restore --no-build --output published   
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v2.2.2
      with:
        name: build
        path: published
